<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="isHandset ? 'over' : 'side'" class="sidenav" opened>
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="dashboard">Dashboard</a>
        <a mat-list-item routerLink="productivaty">Annually productivaty</a>        
        <a mat-list-item routerLink="trains">Trains</a>
        <a mat-list-item href="#">Contact</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My Application</span>

         <!-- Desktop Links -->
    <span class="spacer"></span>
    <nav class="nav-links">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/contact">Contact</button>
    </nav>
  
    <!-- Mobile Menu Icon -->
    <button mat-icon-button class="mobile-menu" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  
    <!-- Mobile Menu -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink="/about">About</button>
      <button mat-menu-item routerLink="/contact">Contact</button>
    </mat-menu>
      </mat-toolbar>
  
      <div class="content">
        <!-- Main content goes here -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  