<div class="registerBg">
    <div class="formcontent">
        <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
            <div style="text-align: center;">
                <img src="../../../assets/images/steam-train-design_1152-67.png" alt="logo" class="img-fluid" style="width: 150px;margin: 0 auto;" />
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" />
            </mat-form-field>
           
            <button mat-raised-button color="primary" type="submit" [disabled]="registerform.invalid">
                Register
              </button>
              <div style="padding-top: 10px;">
               <small> If you have already have account than <a routerLink="/login">Go to Login</a></small>
              </div>
        </form>
    </div>
</div>
